<!DOCTYPE html>
<html>
  <head>
    <meta
      name="viewport"
      charset="utf-8"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Exchange Tool</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app" :key="exg">
      <div id="exchange">
        <h3>CURRENCY: {{ exg }}</h3>
        <div>
          <ul>
            <li v-for="rate in data">
              <span v-on:click="setSelectedRate(rate.name)">
                {{ rate.name }}</span
              >: {{rate.data}}
            </li>
          </ul>
        </div>
        <h3>Exhange Calculator:</h3>
          <input type="number" @keydown="calculateExchange()" v-model.number="inputAmount" />
          <select v-model="selectedFromCurrency">
            <option
              v-for="rate in data"
              :value="{
							name: rate.name,
							value: rate.data
						}"
              >{{ rate.name }}</option
            >
					</select>
					<button v-on:click="switchCurrency">change</button>
          <select v-model="selectedToCurrency">
            <option
              v-for="rate in data"
              :value="{
							name: rate.name,
							value: rate.data
						}"
              >{{ rate.name }}</option
            >
          </select>
          <input v-model.number="outputAmount" type="number" />
      </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
