 body {
    font-family: tahoma;
    color:#282828;
    margin: 0px;
  }
  
  button {
    margin-top: 30px;
    border: none;
    background-color: #1E95EA;
    color: white;
    height: 25px;
    width: 40px;
    font-size: 14px;
  } 
  
  .disabledButton {
    background-color: #d8d8d8;
  }
  
  .review-form {
    width: 400px;
    padding: 20px;
    margin: 40px;
    border: 1px solid #d8d8d8;
  }
  
  input {
    width: 100%;  
    height: 25px;
    margin-bottom: 20px;
  }
  
  textarea {
    width: 100%;
    height: 60px;
  }

  .tab {
    margin-left: 20px;
    cursor: pointer;
  }

  .activeTab {
    color: #16C0B0;
    text-decoration: underline;
  }
  
  ul {
    list-style: none;
  }

  span {
    color: blue;
    cursor: pointer;
  }

  input {
    margin:0rem 1rem;
    width: 10rem;
  }

  button {
    width: 5rem;
    height: 2rem;
    border-radius: .3rem;
  }